@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
    --main-color: #7FFF7F;
    --second-color: #F7F7F7;
    --font-color: #000;
    --light-color: #fff;
    --main-font: 'Inter', sans-serif;
    font-size: 62.5%;
}